body { margin: 0; }

            @font-face {
                font-family: Play;
                src: url(../public/fonts/Play.ttf);
            }

            canvas{
                position: fixed;
                top: 0;
                left: 0;
                z-index: -99;
            }

            #header{
                
                height: 100%;
            }
            #header img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 60%;
            }

            #body_container{
                background-color: rgba(255, 255, 255, 0);
            }

            #subTitle {
                text-align: center;
            }
            #subTitle h1{
                font-family: Play;
                font-size: 300%;
            }

            #startTour{
                margin: auto;
                width: 25%;
                border: 1px solid black;
                border-radius: 30px;
                padding: 5px;
                text-align: center;
                background-color: white;
            }
            #startTour h1{
                font-family: Play;
                font-size: 200%;
            }
            #startTour:hover{
                background-color: rgb(75, 193, 190);
                cursor: pointer;
            }